/* Footer.css */
.footer {
    background-color: #FF4000; /* Background color */
    color: white; /* Text color */
    padding: 60px 0 60px 0;
    margin: 0;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  