body {
    color: white;
}
/* social media links and icon */
.social-icons {
    padding: 20px;
    text-align: center;
  }
  
  .social-icons h2 {
    margin-bottom: 15px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #FF4000; /* Change to your preferred hover color */
  }
  .service-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    align-items: center;

    .service-item {
      margin-left: 15px;
      margin: 10px;
    }
  }

  #imageTwo {
    width: 450px;
    height: 400px;
  }

  #imageOne, #imageThree {
    width: 400px;
    height: 300px;
  
  }